/* Global Styles */

.navbar {
    
}

.navbar-nav li a {
    padding-top: 50px;
}

.btn:visited {
  color: #fff;
}

/* Personnel */

.personnel-listing {
    ul {
        padding-left: 0;
        li {
            list-style-type: none;
        }
    }
}