/* Global Styles */

/*.navbar {
    .navbar-nav li a {
        line-height: 65px;
    }
}*/

@media (min-width: 768px) {
    .navbar .container {
        padding-left: 0;
        padding-right: 0;
    }
}

@media (max-width: 768px) {
    .navbar {
        .navbar-btn {
            margin-top: 10px !important;
            margin-bottom: 10px !important;
        }
        .navbar-nav {
            margin-top: 0;
        }
        .navbar-nav li a {
            /*line-height: 1em;*/
        }
        .user-name {
            margin-top: 0;
            padding-top: 0;
        }
        .logout {
            width: 100px;
            margin-top: 0;
        }
        .login {
            .btn {
                clear: none;
                float: right;
                margin-right: 0;
            }
        }
        .signup {
            .btn {
                clear: none;
                float: right;
                margin-right: 5px;
            }
        }
    }
}

.logo {
    padding-left: 0;
    margin-left: 0;
    &:hover {
        background: none;
    }
}

.btn:visited {
  color: #fff;
}

/* Homepage */

.jumbotron {
    background-image: asset-url('jumbotron.jpg');
    background-size: cover;
    text-align: center;
    h1 {
        color: #444444;
        font-weight: light;
    }
}

.custom-btn {
    &:hover {
        color: #fff !important;
        background-color: #c9302c !important;
        border-color: #ac2925 !important;
    }
}

/* Personnel */

.personnel-listing {
    ul {
        padding-left: 0;
        li {
            list-style-type: none;
        }
    }
}

/* Roster */

.roster-list {
    margin-top: 40px;
    .roster-list-personnel {
        color: #888;
        h4 {
            color: #000;
            font-weight: bold;
            text-decoration: underline;
        }
        .pos {
            font-weight: bold;
        }
    }
}

/* Footer */

footer {
    margin-top: 20px;
    color: #999;
}

